.places {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    padding: 15px;
    flex-basis: 90%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    grid-row-start: 2;
    display: flex;
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    width: 75%;
    align-content: center;
}

.price_by_night {
    font-color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    text-align: center;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 10px;
    align-content: space-between;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 14px;
    width: 100%;
}

.max_guest {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number_rooms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number_bathrooms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_group {
    background-image: url(../images/icon_group.png);
    height: 50px;
    width: 50px;
}

.icon_bed {
    background-image: url(../iamges/icon_bed.png);
    height: 50px;
    width: 50px;
}

.icon_bath {
    background-image: url(../images/icon_bath.png);
    height: 50px;
    width: 50px;
}

.user {
    padding: 10px 0;
}

.places .amenities {
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.places .amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
}

.places .amenities ul {
    list-style-type: none;
    padding-top: 2px;
}

.places .amenities li {
    display: flex;
    text-align: justify;
}

.places .amenities li p {
    padding: 5px;
}

.icon_tv {
    background-image: url(../images/icon_tv.png);
    height: 50px;
    width: 50px;
}

.icon_wifi {
    background-image: url(../images/icon_wifi.png);
    height: 50px;
    width: 50px;
}

.icon_pets {
    background-image: url(../images/icon_pets.png);
    height: 50px;
    width: 50px;
}

.places .reviews {
    margin-top: 40px;
    text-align: left;
    width: 100%;
}

.places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
}

.places .reviews ul li {
    list-style-type: none;
}

.places .reviews h3 {
    font-size: 14px;
    text-align: left;
    margin: 10px auto;
}

.places .reviews p {
    font-size: 12px;
}

@media only screen and (max-width: 400px) {
    .places h1 {
    width: 95%;
    color: #FF5A5F;
    text-decoration: underline;
  }
}
