* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-color: #4848484;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}
