.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    text-color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
    color: #484848;
    margin: 10px 40px 5px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    margin: 0 40px;
}
